.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body{
  background-image: url("/images/bg.jpg");
}

.top {
  background-color: rgba(255, 255, 255, 1);
  background-image: url("/images/header_bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

a#add-new {
  border: 2px solid rgba(219, 129, 81, 1);
   color: rgba(159, 69, 44, 1);
   font-size: 32px;
   height: 26px;
   line-height: 22px; /* Make line-height smaller than font-size */
   position: absolute;
   right: 16px;
   text-decoration: none;
   top: 16px;
   width: 26px;
}

a#add-new:hover {
  background-color: rgba(211, 89, 49, 1);
  border-color: rgba(211, 89, 49, 1);
  color: rgba(255, 255, 255, 1);
}

.navmenu{
  background-color: rgba(61, 61, 63, 1);
}

ul.main-nav{
  text-align: center;
}

li.nav-item{
display: inline-block;
font-family: 'oswald', sans-serif;
text-decoration: none;
text-transform: uppercase;
}

li.nav-item.middot {
  color: rgba(133, 134, 137, 1);
}

li.nav-item a {
  color: rgba(133, 134, 137, 1);
  display: inline-block;
  letter-spacing: 1px;
  padding: 14px 2px;
  text-decoration: none;
  text-transform: uppercase;
}

li.nav-item a:hover {
  color: rgba(220, 92, 48, 1);
}

.main-content{
  padding: 25px 0;
}

.faster {
  background-color: rgba(255, 255, 255, 1);
  border: 5px solid rgba(255, 255, 255, 1);
  font-family: 'Lato', sans-serif;
  margin: 10px auto;
  padding: 10px;
  width: 50%;
}

.faster:hover {
  border: 5px solid rgba(224, 147, 47, 1);
  cursor: pointer;
}

.faster .image {
  float: left;
  text-align: center;
  width: 25%;
}

.faster .content {
  float: right;
  padding-left: 15px;
  width: 75%;
}



