
html {
  height: 100%;

}

#container {
  background-color: #edebeb;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  max-height: 12000px;

}



.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#header {
  text-align: center;
  background-color: white;
  padding: 10px;


}


#nav li {
  display: inline-block;
  font-family: sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

#nav{

  max-width: 1200 px;
  text-align: center;
  background-color: #5f5a6c;
  padding: 10px;

}

#nav ul li a{
  text-decoration: none;
  color:#d9dee3;
}


#nav ul li a:hover{
    text-decoration: none;
    color: #58b4f3;
}


#main {
  background-color: #be5f2d;
  max-width: 800px;
  max-width: 100%;
  max-height: 100%;
  position: absolute;

}

.animal {
  background-color: white;
  border: 1px solid black;
  margin: 0 auto;
  max-width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  max-height: 100%;

  


}

.animal>h1 {
  font-family: sans-serif;
  font-weight: bold;

}

#content {
  background-color: #eb6841; 
  max-width: 100%;
  max-height: 100%;

}




